---
---

@import "code4sa-custom-bootstrap";

body {
  font-size: 15px;
  background-color: white;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav {
  text-transform: uppercase;
}

.page article > header.jumbotron {
  padding-top: 68px;

  p {
    margin-bottom: 0px;
  }
}

article > section {
  padding-top: 30px;
  padding-bottom: 60px;
}

a.thumbnail {
  text-decoration: none;
}

.content {
  min-height: 600px;
  padding-bottom: 40px;
}

h1, h2 {
  margin-bottom: 20px;
}

.partner-logo-list {
   #blacksash-logo {
       margin-top: 45px;
   }

   #geekulcha-logo {
       margin-top: 51px;
   }

   #icfj-logo {
       margin-top: -5px;
   }

   #mma-logo {
       margin-top: 15px;
   }

   #odac-logo {
       margin-top: -15px;
   }

   #pmg-logo {
       margin-top: -10px;
   }

   #sarpam-logo {
       margin-top: 5px;
   }

   #freedomhouse-logo {
       margin-top: 40px;
   }
}

.blog-excerpts {
  > li {
    clear: both;
    margin-bottom: 40px;
    display: table;
    width: 100%;

    .date {
      float: left;
      width: 17%;
      background: #444444;
      padding: 10px 5px;
      margin-right: 10px;

      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }

    .day,
    .month {
      display: block;
      color: white;
    }

    .day {
      font-size: 30px;
    }

    .month {
      font-size: 20px;
    }

    .excerpt {
      float: left;
      width: 75%;

      h4 {
        margin-top: 0px;
        font-weight: bold;
      }
    }

    .more {
      float: right;
      margin-top: 0px;
    }
  }
}

.blog-post {

  h1 {
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
  }

  .author-details {
    position: absolute;
    margin-left: 650px;

    img {
      max-width: 150px;
    }
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .post-content {
      p, h1, h2, h3, h4, h5, blockquote, ul, ol, pre, .p {
        max-width: 600px;
      }

      p + h2, p + h3, p + h4, p + h5 {
	margin-top: 1.5em;
      }
    }

    footer {
      max-width: 600px;
    }
  }
}

.social-buttons {
  a {
    text-decoration: none;
  }
}

.contact-us-map {
  #map-canvas {
    width: 100%;
    height: 400px;
  }
}


/* ==========================================================================
   Team Styles
   ========================================================================== */
#team {
	background: url(../img/gray_jean.png) repeat;
	padding: 130px 0px 10px 0px;
	background-color: #EEEEEE;
}


.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
	margin-bottom: 85px;
}



.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-adi {
	background-image: url(../img/team_adi.png);
}

.ch-img-gabriella {
	background-image: url(../img/team_gabriella.png);
}

.ch-img-petrus {
	background-image: url(../img/team_petrus.png);
}

.ch-img-jason {
	background-image: url(../img/team_jason.png);
}


.ch-img-osman {
	background-image: url(../img/team_osman.png);
	background-position: right top;
}

.ch-img-greg {
	background-image: url(../img/team_greg.png);
}

.ch-img-hannah {
	background-image: url(../img/team_hannah.png);
}

.ch-img-jen {
  background-image: url(../img/team_jennifer.png);
}

.ch-img-damian {
  background-image: url(../img/team_damian.png);
}

.ch-img-daniela {
  background-image: url(../img/team_daniela.png);
}

.ch-img-julia {
  background-image: url(../img/team_julia.png);
}

.ch-img-siya {
	background-image: url(../img/team_siyabonga.png);
}

.ch-img-ray {
	background-image: url(../img/team_raymond.png);
}

.ch-img-khutjo {
	background-image: url(../img/team_khutjo.png);
}

.ch-img-katherine {
	background-image: url(../img/team_katherine.png);
}

.ch-info {
	position: absolute;
	background: rgba(69,72,74,0.90);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);

	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 19px;
	margin: 60px 5px 0;
	padding: 10px 0 0 0;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
	line-height: 20px;
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out 0.4s;
	-moz-transition: all 0.5s ease-in-out 0.4s;
	-o-transition: all 0.5s ease-in-out 0.4s;
	-ms-transition: all 0.5s ease-in-out 0.4s;
	transition: all 0.5s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #75D2D7;
	color: rgba(117,210,215,0.85);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #75D2D7;
	text-decoration: none;
}

.ch-item:hover {
	box-shadow:
		inset 0 0 0 1px rgba(255,255,255,0.2),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}


.team-info-mobile {
	padding-top: 10px;
}

.team-info-mobile h3 {
	color: #232527;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 19px;
	margin: 0px 30px 0;
	padding: 10px 0 0 0;
	height: 100px;
	font-family: 'Open Sans', sans-serif;
}

.team-info-mobile a, .team-info-mobile a:hover, .team-info-mobile a:active {
	color: #75D2D7;
}

.client {
  margin-bottom: 10px;

  img {
    max-width: 170px;
    height: auto;
  }

  &.pushdown img {
    margin-top: 40px;
  }
}

.teaser-header {
  img {
    max-width: 280px;
    max-height: 110px;
  }
}

.thumbnail {
  .logo {
    width: 100%;
    height: 120px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .openbylaws {
    background-image: url(/img/projects/openbylaws-logo.png);
    background-color: white;
    border: 5px solid white;
  }
  .wazimap { background-image: url(/img/projects/wazimap-square-500.png); }
  .pa { background-image: url(/img/projects/pa-logo.png); }
  .pmg {
    background-image: url(/img/projects/pmg-logo.png);
    background-color: white;
    border: 5px solid white;
  }
  .sa-newsmakers {
    background-image: url(/img/projects/sa-newsmakers-logo.png);
    background-color: white;
  }

  .ct-budget {
    background-image: url(/img/journo/ct-budget-logo.png);
    background-color: #808080;
  }
  .peoples-assembly {
    background-image: url(/img/journo/peoples-assembly-logo.png);
    background-color: white;
  }
  .siyazana {
    background-image: url(/img/journo/Siyazana-logo.png);
    background-color: white;
  }
  .protest-map { background-image: url(/img/projects/protest-map.png); }
  .living-wage { background-image: url(/img/projects/living-wage.png); }
  .mpr { background-image: url(/img/project_medicine2.jpg); }
  .code4sa { background-image: url(/img/logo.png); }
  .data-portal { background-image: url(/img/data_portal.png); }
  .indigo { background-image: url(/img/projects/indigo.png); }
  .capetownbudget { background-image: url(http://capetownbudgetproject.org.za/wp/wp-content/uploads/2015/04/nu_LOGO.png); background-color: #494949; }
  .mapit { background-image: url(/img/projects/mapit.png); }
}

a.list-group-item .list-group-item-heading {
  color: #158cba;
}

/* data journ school */

.school-ad {
  aside.details {
    text-align: center;

    section:first-child {
      border-top: 0px;
    }

    section {
      border-top: 1px solid #ccc;
      margin: 30px 0px;
    }

    ul {
      text-align: left;
    }
  }

  .school-partner-logos {
    text-align: center;
    img {
      width: 175px;
    }
  }

  a.apply-btn {
    color: white !important;
    text-decoration: none;
  }
}
