.navbar {
  margin-bottom: 0px;
}

.navbar > .container .navbar-brand {
  padding: 10px 15px;
}

article > header {
  padding: 40px 0px;
  margin-bottom: 20px;
}

.wide-banner {
  background-color: rgba(248,92,92,0.95);
}
.wide-banner p,
.wide-banner h1 {
  color: white;
}

a.thumbnail {
  text-decoration: none;
}

.content {
  min-height: 600px;
}

footer {
  background-color: #f8f8f8;
  border-top: 4px solid #e7e7e7;
  margin-top: 40px;
  padding: 20px 0px;
}

