/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 

.project-images {
    text-align: center;
}

.project-text p {
    text-align: justify;
}

.back-to-work {
    text-align: right;
}

#more-posts {
    text-align : right;
    margin-top: 10px;
}

#more-posts a {
    color: #232527;
    font-size: 1.2em;
}

#blog {
	background: url(../img/shattered.jpg) repeat;
	background-color: #232527;
	padding: 60px 0px 110px 0px;
	height: auto;
    line-height: 1.75;
}

#blog h1 {
    font-size: 2em;
    text-align: center;
}

#blog li {
    color: #ababab;
}


#blog h2 {
    font-size: 12pt;
}

#blog .img {
    text-align: center;
}

#blog .img img {
    padding-top:10px;
    padding-bottom:10px;
}
