/*!
 * Agency11 v1.0
 *
 * Copyright 2012 Theme Armada
 * Visit us for more Bootstrap themes at:
 * http://www.themearmada.com
 *
 * Hand crafted with love in Atlanta!
 */



/* ==========================================================================
   Global Styles
   ========================================================================== */


body {
	background: #FFFFFF;
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}



h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
    color: #FFFFFF;
    text-transform: uppercase;
}

h2 {
	font-size: 20px;
	font-weight: 400;
}

h3 {
	font-size: 37px;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: uppercase;
	font-weight: 300;
   
}

h4 {
	font-size: 21px;
    letter-spacing: -0.5px;
    line-height: 19px;
    text-transform: uppercase;
    color: #232527;
}

h5 {
	font-size: 19px;
    letter-spacing: 3px;
    line-height: 18px;
    text-transform: uppercase;
}

dd,dt,dl {
	color: #A5ACAF;
}

p {
	color: #A5ACAF;
}


.section-title {
}


.section-title img {
	vertical-align: top;
}

blockquote small {
    color: #bbbbbb;
}

a:hover {
	transition: color 0.35s;
	-moz-transition: color 0.35s; /* Firefox 4 */
	-webkit-transition: color 0.35s; /* Safari and Chrome */
	-o-transition: color 0.35s; /* Opera */
	text-decoration: none;
}

.btn-grey {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: 800;
	text-decoration: none;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.btn-grey, .btn-red {
	background: none repeat scroll 0 0 #232527;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 16px 30px;
    
}

.btn-grey:hover, .btn-grey:active {
	background: #323639;
	color: #FFFFFF;
	transition: all 0.35s ease 0s;
}

.btn-red{
	background: none repeat scroll 0 0 #F85D5D;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 16px 30px;
    
}

.btn-red:hover, .btn-red:active {
	background: #db5252;
	color: #FFFFFF;
	transition: all 0.35s ease 0s;
}


[class^="icon-"], [class*=" icon-"] {
	vertical-align: default;
}



.scrollToTop, a.scrollToTop {
	width:35px;
	height:30px;
	border-radius: 4px;
	padding:10px;
	text-align:center;
	background: rgba(40,40,40,0.85);
	font-weight: bold;
	font-size: 19px;
	color: #FFFFFF;
	text-decoration: none;
	position:fixed;
	bottom:20px;
	right:20px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
	color: #ececec;
}

::selection {
	background: #F85D5D; /* Safari */
	color: #FFFFFF;
	}
::-moz-selection {
	background: #F85D5D; /* Firefox */
	color: #FFFFFF;
}

iframe {
	width: 100%;
	height: inherit;
	border: none;
	background-color: transparent;
	overflow: hidden;
}

.copyright {font-size: 0.8em;}



/* ==========================================================================
   Colors
   ========================================================================== */ 

.dark-grey {
	color: #232527;
}

.light-grey {
	color: #D2D2D2;
}

.red {
	color: #F85D5D;
}

.blue {
	color: #75D2D7;
}

.white {
	color: #FFFFFF;
}




/* ==========================================================================
   Navbar Styles
   ========================================================================== */ 

.navbar-inverse .navbar-inner {
	background: url(../img/p6.png) repeat;
	background-color: #FFFFFF;
	border-color: transparent;
}


.navbar-inverse .btn-navbar {
	margin-top: 15px;
}

.navbar-inner {
	border: none;
	height: 120px;
}

.navbar .brand {
	padding-top: 15px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    /* TODO */
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #232527;
    color: #FFFFFF;
}

.navbar .nav > li > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
	text-shadow: none;
	color: #232527;
	padding: 22px 12px;
    height: 49px;
    vertical-align: middle;
    padding-top: 49px;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	background-color: #232527;
}



.navbar-fixed-top {
    margin-bottom: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
}




/* ==========================================================================
   Home Styles
   ========================================================================== */ 
#home {
	background: rgba(248,92,92,0.95);
	height: 650px;
}

.hero-text {
	padding-top: 15%;
}

.hero-text h1 {
	font-size: 80px;
    letter-spacing: 5px;
    line-height: 70px;
    margin-bottom: 15px;
}

.hero-text h2 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}




/* ==========================================================================
   Work Styles
   ========================================================================== */ 
#work, #resources {
	background: url(../img/shattered.jpg) repeat; 
	background-color: #232527;
	padding: 130px 0px 130px 0px;
}


.item {
	padding-top: 30px;
}

.project-title {
	background: #FFFFFF;
	padding: 12px 10px 10px 10px;
	margin-top: 0px;
}

.project-title p {
	color: #666;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    font-size: 16px;
	text-transform:uppercase;

}

.work:hover {
	opacity: 0.8;
	
	transition: all 0.35s;
	-moz-transition: all 0.35s; /* Firefox 4 */
	-webkit-transition: all 0.35s; /* Safari and Chrome */
	-o-transition: all 0.35s; /* Opera */

}


/* ==========================================================================
   Project Styles
   ========================================================================== */
#project {
	background: url(../img/shattered.jpg) repeat;
	background-color: #232527;
	padding: 100px 0px 110px 0px;
	height: auto;
}


#project img {
    padding-bottom: 5px;
}

#project p {
    color: #767676;
    margin-bottom: 25px;
}


#project h3 {
	font-size: 27px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #FFFFFF;  
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

#project h5 {
	font-size: 13px;
    color: #FFFFFF;
    line-height: 13px;   
}

a.back-to-work {
	font-size: 18px;
    letter-spacing: -0.5px;
    color: #F85D5D;  
    font-family: 'Open Sans', sans-serif;
	font-weight: 800;
    text-transform: uppercase; 
}

a:hover.back-to-work, a:active.back-to-work {
    color: #db5252;
    text-decoration: none;
}




/* ==========================================================================
   Client Styles
   ========================================================================== */
#clients {
	background:  #fff;
	border-bottom: 1px dashed #333;
	border-top: 1px dashed #333;
	padding-bottom: 20px;
}

.blue-overlay {
	background: rgba(117,210,215,0.92);
	padding: 130px 0px 130px 0px;
}

.featured-section-title {
	padding-top: 10px;
}

.partner-heading {border-bottom: 1px dotted #ccc;}

.partner-heading h6{
	margin-bottom: 3px;
}



/* ==========================================================================
   Services Styles
   ========================================================================== */
#services {
	background: #F3F3F3;
	padding: 130px 0px 10px 0px;
	height: auto;
}

#services h4 {
	margin-top: 50px;
}

.service-box {
	padding-bottom: 30px;
}

#call-to-action {
	background: #232527;
	padding: 30px 0px;
}

#call-to-action h4, #about-opendata h4 {
	color: #5F6263;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 46px;
	line-height: 53px;
}

#about-opendata {
	padding: 130px 0px 10px 0px;
	background: #232527;
}

#about-opendata h5, #resources h5 {
    padding-top:15px;
    color:#bbbbbb;
}

#about-opendata dd, #about-opendata dt {
    color:#bbbbbb;
    display:inline-block;
}



/* ==========================================================================
   Team Styles
   ========================================================================== */
#team {
	background: url(../img/gray_jean.png) repeat;
	padding: 130px 0px 10px 0px;
	background-color: #EEEEEE;
}


.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
	margin-bottom: 85px;
}



.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
	background-image: url(../img/team_adi.jpg);
}

.ch-img-2 { 
	background-image: url(../img/team_gabrielle.jpg);
}

.ch-img-3 { 
	background-image: url(../img/team_justin.jpg);
}

.ch-img-4 {
	background-image: url(../img/team_petrus.jpg);
}

.ch-img-5 {
	background-image: url(../img/team_jason.jpg);
}

.ch-img-6 {
	background-image: url(../img/team_greg.png);
}


.ch-info {
	position: absolute;
	background: rgba(69,72,74,0.90);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 19px;
	margin: 60px 5px 0;
	padding: 10px 0 0 0;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
	line-height: 20px;
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out 0.4s;
	-moz-transition: all 0.5s ease-in-out 0.4s;
	-o-transition: all 0.5s ease-in-out 0.4s;
	-ms-transition: all 0.5s ease-in-out 0.4s;
	transition: all 0.5s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #75D2D7;
	color: rgba(117,210,215,0.85);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #75D2D7;
	text-decoration: none;
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.2),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}


.team-info-mobile {
	padding-top: 10px;
}

.team-info-mobile h3 {
	color: #232527;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 19px;
	margin: 0px 30px 0;
	padding: 10px 0 0 0;
	height: 100px;
	font-family: 'Open Sans', sans-serif;
}

.team-info-mobile a, .team-info-mobile a:hover, .team-info-mobile a:active {
	color: #75D2D7;
}

/* ==========================================================================
   Resources Styles
   ========================================================================== */
#resources li {color: #fff;}


/* ==========================================================================
   News Styles
   ========================================================================== */
#news {
    padding: 130px 0px 130px 0px;
	background: #F85D5D;
}


#news h5 {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 30px;
}

#news h4 {
	color: #232527;
	text-transform: none;
}

#news p {
	color: #FFFFFF;
}

.news-article {
	border-bottom: 1px dotted rgba(255,255,255,0.85);
	padding-bottom: 30px;
	margin-top: 20px;
}

.date {
	background: #232527;
	padding: 12px 8px 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	text-align: center;
	max-width: 90px;
	margin-top: 12px;
}

.day {
	color: #75D2D7;
	font-size: 34px;
}

.month {
	color: #FFFFFF;
	font-size: 16px;
}

a.more {
	background: #FFFFFF;
	color: #232527;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 800;
	text-decoration: none;
	padding: 10px 15px;
	text-transform: uppercase;
}


ul#twitter_update_list {
	list-style: none;
	padding-top: 20px;
}
ul#twitter_update_list li {
	display: none; /* Prevents the entire feed list from showing momentarily on page load */
}


.twitter-feed {
	position: relative;
	width: 90%;
	height: 75px;
	padding: 6px 10px 20px 0px;
	background: #232527;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 70px;
}

.twitter-feed:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 21px;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #232527 transparent;
	display: block;
	width: 0;
	z-index: 1;
	
}


.twitter-feed span {
	color: #FFFFFF;
	display: block;
	line-height: 1.1em;
}

.twitter-feed span a {
	color: #FFFFFF;
	text-decoration: none;
	
}

.twitter-feed span a:hover{
	color: #f1f1f1;
	text-decoration: none;
}

.twitter-feed a {
	color: #ffffff;
	text-decoration: none;
}

.twitter-feed a:hover {
	color: #f1f1f1;
	text-decoration: none;
}

.instagram-feed {
	width: 255px;
	height: 170px;
	
}




/* ==========================================================================
   Contact Styles
   ========================================================================== */ 
#contact {
	padding: 20px 0px 30px 0px;
	background: #F7F7F7;
}


.map {
	height: 380px;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#contact h3 {
	color: #232527;
}

#contact h5 {
	margin-bottom: 15px;
}

p.tel, p.tel a, p.tel a:hover  {
	color: #232527;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

ul.socialize {
	list-style: none;
	margin-left: 0px;
}

ul.socialize li {
	display: inline;
	line-height: 30px;
}

ul.socialize li a {
	color: #F85D5D;
	text-decoration: none;
}

ul.socialize li a:hover {
	color: #d64c4c;
	text-decoration: none;
}





/* ==========================================================================
   Footer Styles
   ========================================================================== */ 
footer {
	padding: 5px 0px 5px 0px;
	background: #FFFFFF;
}

ul.footer-links {
	list-style: none;
}

ul.footer-links li {
	display: inline;
	padding-left: 10px;
}

ul.footer-links a {
	color: #232527;
	letter-spacing: -0.5px;
	font-size: 14px;
	font-weight: bold;
}

ul.footer-links a:hover {
	color: #979797;
	text-decoration: none;
}

footer a {
	color: #232527;
}

footer a:hover {
	color: #979797;
	text-decoration: none;
}








/* ==========================================================================
   Mobile Styles
   ========================================================================== */ 



/* Landscape phones and down */
@media (max-width: 480px) { 

.navbar, .nav.pull-right {
    background: #232527;
    top:9px;
}

.navbar .nav > li > a {
	padding: 14px 15px;
}



.hero-text h1 {
	font-size: 40px;
    letter-spacing: 2px;
    line-height: 36px;
    margin-bottom: 20px;
}

.hero-text h2 {
	font-size: 20px;
	line-height: 20px;
}

.row-fluid, .section-title {
	text-align: center;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	padding-left: 10px;
	padding-right: 10px;
}

.client {
	padding-bottom: 20px;
}

#call-to-action h4 {
	font-size: 40px;
	line-height: 36px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:inset 0 0 0 0px rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 0px rgba(0,0,0,0.0),
		0 0px 0px rgba(0,0,0,0.0);
}
.ch-item:hover .ch-info {
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 0;
}

.ch-item:hover .ch-info p {
	opacity: 0;
}


#contact .span4 {
	padding-bottom: 30px;
}

ul.footer-links {
	margin-top: 50px;
	text-align: center;
}


	
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 


.navbar, .nav.pull-right {
    background: #232527;
    top:9px;
}

.navbar .nav > li > a {
	padding: 14px 15px;
}


.hero-text h1 {
	font-size: 40px;
    letter-spacing: 5px;
    line-height: 36px;
    margin-bottom: 20px;
}

.hero-text h2 {
	font-size: 20px;
	line-height: 20px;
}

.row-fluid, .section-title {
	text-align: center;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	padding-left: 10px;
	padding-right: 10px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:inset 0 0 0 0px rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 0px rgba(0,0,0,0.0),
		0 0px 0px rgba(0,0,0,0.0);
}
.ch-item:hover .ch-info {
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 0;
}

.ch-item:hover .ch-info p {
	opacity: 0;
}

#call-to-action h4 {
	font-size: 40px;
	line-height: 36px;
}

#contact .span4 {
}

ul.footer-links {
	margin-top: 50px;
	text-align: center;
}


}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .navbar, .nav.pull-right {
        background: #232527;
        top:9px;
    }

    .navbar .nav > li > a {
        padding: 14px 15px;
    }

    .ch-item {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        cursor: default;
        box-shadow:inset 0 0 0 0px rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
    }

    .ch-item:hover {
        box-shadow: 
            inset 0 0 0 0px rgba(0,0,0,0.0),
            0 0px 0px rgba(0,0,0,0.0);
    }
    .ch-item:hover .ch-info {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 0;
    }

    .ch-item:hover .ch-info p {
        opacity: 0;
    }

	
}




/* Desktops and laptops ----------- */
@media (min-width: 980px) and (max-width: 1699px) {

}
     


/* Large screens ----------- */
@media (min-width: 1700px) and (max-width: 2200px) {

}   

