html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; left:0; height:100%; width:100% }

#infobox foreignObject {
    overflow: hidden;
}

#infobox .body-text {
    font-family: 'Helvetica';
    font-size: 22px;
}



