//== Scaffolding
.page-header {
  margin: 20px 0 20px;
  padding: 5px 0 5px;
}

//== Typography

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0.5em 0;
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}

h1 {
  letter-spacing: 1px;
}

h1, h5, h6 {
  text-transform: uppercase;
}

h2, h3, h4 {
  font-family: $font-family-serif;
  font-weight: 500;
}

h5, h6 {
  font-weight: 400;
  letter-spacing: 2px;
}

//== Type

hr {
  display: block;
  height: 1px;
    border: 0;
    border-top: 2px solid rgba(0,0,0,0.2);
}

blockquote, blockquote.blockquote-reverse {
  font-family: $font-family-serif;
  border: 0;
  padding: 12px 50px;
  footer {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base * 0.9;
    font-weight: bold;
  }
}

a:link, a:visited, a:active {
  text-decoration: underline;
}

a:hover {
  color: $brand-primary-dark;
}

//== Navbar

.navbar {
  font-size: $font-size-base * 1.1;
  font-weight: 700;

  border: none;
  border-top: solid 5px $brand-primary;

  -moz-box-shadow:    0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px rgba(0,0,0,0.2);
  box-shadow:         0 5px rgba(0,0,0,0.2);

  .navbar-brand {
    font-size: $font-size-base * 1.4;
    padding-right: 30px;

    img {
      height: 60px;
      margin-top: -18px;
    }

  }

  .navbar-brand-secondary {
    display: inline-block;
    padding-left: 10px;

    img {
      margin: -4px 0 20px 0;
      height: 50px;
      background: $color-white;
      padding: 3px;
      border: dashed 1px $color-gray;
      outline: solid 3px $color-white;
      }
  }

  a,
  a:link,
  a:visited,
  a:hover {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    text-decoration: none;
  }

}

/* Navbar styling on small screen*/
@media (max-width: 978px) {

  .navbar {
    text-align: center;
  }

  .navbar-brand {
    width: 100%;
    img {
      display: inline-block;
    }
  }

  .navbar-brand-secondary {
    width: 100%;
    img {
      display: inline-block;
      margin: 20px;
    }
  }
}

//== Jumbotron

.jumbotron {
  text-align: center;
  margin: 0;

  h1 {
    font-size: floor(($jumbotron-font-size * 2.6));
  }

  a:link, a:visited, a:active {
    color: $color-light-blue;
    text-decoration: none;
  }
}

//== Backgrounds

@mixin bg-light {
  color: $color-black;

  a:link, a:visited, a:active {
    color: $brand-primary-light;
  }

  a:hover {
    color: $brand-primary-dark;
  }
}
.bg-light { @include bg-light; }

@mixin bg-dark {
  color: $color-white;
  a:link, a:visited, a:active {
    color: $brand-primary-light;
  }
  a:hover {
    color: $color-white;
  }
}
.bg-dark { @include bg-dark; }

@mixin bg-white {
  @include bg-light;
  background-color: $color-white;
}
.bg-white { @include bg-white; }

@mixin bg-gray {
  @include bg-light;
  background-color: $color-gray;
}
.bg-gray { @include bg-gray; }

@mixin bg-dark-gray {
  @include bg-dark;
  background-color: $color-dark-gray;
}
.bg-dark-gray { @include bg-dark-gray; }

@mixin bg-light-gray {
  @include bg-light;
  background-color: $color-light-gray;
}
.bg-light-gray { @include bg-light-gray; }

@mixin bg-dark-blue {
  @include bg-dark;
  background-color: $color-dark-blue;

  a:link, a:visited, a:active {
    color: $color-light-blue !important;
  }
  a:hover {
    color: $color-white !important;
  }
}
.bg-dark-blue { @include bg-dark-blue; }

@mixin bg-light-blue {
  @include bg-light;
  background-color: $color-light-blue;
  a:link, a:visited, a:active {
    color: $color-blue !important;
  }
  a:hover {
    color: $color-dark-blue !important;
  }
}
.bg-light-blue { @include bg-light-blue; }

@mixin bg-dark-red {
  @include bg-dark;
  background-color: $color-dark-red;
  a:link, a:visited, a:active {
    color: $color-light-red !important;
  }
  a:hover {
    color: $color-white !important;
  }
}
.bg-dark-red { @include bg-dark-red; }

@mixin bg-dark-green {
  @include bg-dark;
  background-color: $color-dark-green;
  a:link, a:visited, a:active {
    color: $color-light-green !important;
  }
  a:hover {
    color: $color-white !important;
  }
}
.bg-dark-green { @include bg-dark-green; }

@mixin bg-light-green {
  @include bg-light;
  background-color: $color-light-green;
  a:link, a:visited, a:active {
    color: $color-green !important;
  }
  a:hover {
    color: $color-dark-green !important;
  }
}
.bg-light-green { @include bg-light-green; }

//== Slabs

@mixin slab {
  padding: 20px;
}
.slab { @include slab; }

.slab-white {
  @include slab;
  @include bg-white;
}

.slab-gray {
  @include slab;
  @include bg-gray;
}

.slab-dark-gray {
  @include slab;
  @include bg-dark-gray;
}

.slab-light-gray {
  @include slab;
  @include bg-light-gray;
}

.slab-dark-blue {
  @include slab;
  @include bg-dark-blue;
}

.slab-light-blue {
  @include slab;
  @include bg-light-blue;
}

.slab-dark-red {
  @include slab;
  @include bg-dark-red;
}

.slab-dark-green {
  @include slab;
  @include bg-dark-green;
}

.slab-light-green {
  @include slab;
  @include bg-light-green;
}

//== Billboards

.billboard {
  padding: 15px;
  margin: 5px 5px 15px 5px;
  border: solid 1px $color-gray;
  border-radius: 5px;
  text-align: center;

  /* box-shadow */
  -moz-box-shadow:    0 2px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 1px 1px rgba(0,0,0,0.2);
  box-shadow:         0 2px 1px 1px rgba(0,0,0,0.2);

  img {
    margin: 15px;
  }

  strong {
    font-family: $font-family-serif;
    font-size: $font-size-base * 1.4;
    display: block;
  }
}

//== Teasers

.teaser {

  margin: 5px 5px 15px 5px;
  border: solid 1px $color-gray;

  font-size: $font-size-small;

  .teaser-header {

    text-align: center;
    border-bottom: solid 1px $color-gray;
    padding: 15px;

    img {

      margin: 15px;

    }

  }

  .teaser-body {

    h1 {
      font-family: $font-family-serif;
      font-size: $font-size-large;
      text-transform: none;
    }

    h2 {
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    padding: 15px;

  }

}

//== Footer

.footer {
  background: $color-dark-gray;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  border-top: solid 5px $brand-primary;
  color: $color-gray;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: block;
  }

  a:link, a:visited, a:active {
    text-decoration: none;
    color: $color-gray;
    font-weight: 700;
  }

  a:hover {
    color: $brand-primary-lighter;
    text-decoration: underline;
  }

  a.footer-heading {
    font-size: $font-size-large;
    color: $color-white;
  }

  a.footer-heading:hover {
    color: $brand-primary-lighter;
  }

}

.foot {
  @include bg-dark-gray;

  background: $color-black;
  color: $color-gray;
  font-size: $font-size-small;
  padding-top: 20px;
  padding-bottom: 20px;

  img {
    height: 50px;
    width: auto;
  }
}

//== Helper classes

// Extra margins
.add-margin-top {
  margin-top: 50px;
}

// Chimneys
.chimney {
  margin-top: -40px;
}
.chimney-sm {
  margin-top: -30px;
}
.chimney-lg {
  margin-top: -60px;
}
/*Undo chimney on small screens*/
@media (max-width: 978px) {
  .chimney, .chimney-sm, .chimney-lg {
    margin-top: 0;
  }
}
