body {
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 20px;
    font-size: 0.8em;
}

a {
    color: #666;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#container input {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}

.icon {
    width: 155px;
    cursor: pointer;
    stroke: none;
    border: solid thin white;
}

.icon:hover {
    border: solid thin black;
}

.icon.selected {
    border: solid thin black;
}

.icon.all {
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
}

