body {
    background-color: #416A90;
}

#container {
    width: 80%;
    margin: auto;
}

#container input {
    float: left;
    margin-right: 10px;
    line-height: 20px;
}

#filters {
    width: 100%;
    margin: auto;
    text-align: center;
}

#filters input {
    margin-bottom: 10px;
    height: 33px;
    width: 100%;
}

.icon {
    width: 35px;
    cursor: pointer;
    border: solid thin white;
    background-color: white;
}

.icon:hover {
    background-color: #eee;
}

.icon.selected {
    background-color: #eee;
}

#list {
    padding-top: 10px;
}

.card {
    background-color: white;
    font-family: "Helvetica" "Arial" "sans-serif";
    margin-bottom: 20px;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 3px;
    padding-top: 1px;
}


dl {
    padding: 0.5em;
}

dt {

    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    color: green;
}

dt:after {
    content: ":";
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

