<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Code4SA | {{ page.title }}</title>
    <meta name="keywords" content="open data, open government, active citizenry, citizen engagement">
    <meta name="description" content="Code4SA - promoting an active citizenry who take responsibility for the world they live in.">
    <meta name="viewport" content="width=device-width">

    <link rel="alternate" type="application/atom+xml" title="Code for South Africa" href="http://www.code4sa.org/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="Naked Data - The Code for South Africa Newsletter" href="http://us8.campaign-archive1.com/feed?u=11977a67604b965526b63ee6e&id=0852ce7e74">
    
    <meta property="og:title" content="Code4SA | {{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.code4sa.org{{ page.url }}">
    <meta property="og:site_name" content="Code for South Africa">
    <meta property="og:image" content="http://www.code4sa.org/img/logo-367x200.png">
    <meta property="og:description" content="{{ page.excerpt }}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ site.url }}/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/css/custom-styles.css">

    <script src="{{ site.url }}/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/favicon.png">
  </head>

  <body>

  <!--Nav Bar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/"><img src="{{ site.url }}/img/logo.png" alt="Code4SA Logo"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <!--<li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#home">Home</a></li> -->
                        <li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#work">Work</a></li>
                        <li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#get-involved">Get Involved</a></li>
                        <li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#services">Services</a></li>
                        <li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#resources">Resources</a></li>
                        <li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#team">Team</a></li>
                        <li><a class="{{ page.scroll_class }}" href="{{ site.url }}/index.html#contact">Contact</a></li>
                        <li><a class="" href="{{ site.url }}/blog.html">Blog</a></li>
                        <li><a class="" href="{{ site.url }}/newsletter">Newsletter</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {{ content }}
    
    <footer>
      <div class="container">
        <div class="row-fluid">
          <div class="span6 text-left">
                <ul class="footer-links">
              <li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></li></ul>
          </div>
          
          <div class="span6 text-right">
            <ul class="footer-links">
              <li><a href="credits.html">Credits</a></li>
            </ul>
          </div>
                
        </div>
      </div>
    </footer>
    
    <a href="#" class="scrollToTop hidden-phone"><i class="icon-chevron-up"></i></a>
    
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
    <script src="{{ site.url }}/js/jquery.backstretch.js"></script>
    <script src="{{ site.url }}/js/jquery.cycle.lite.js"></script>
    <script src="{{ site.url }}/js/sss.min.js"></script> <!-- work images super simple slider js -->
    

    <script>
  $(document).ready(function() {
  $.backstretch([
        "{{ site.url }}/img/header1.jpg",
        "{{ site.url }}/img/header2.jpg"
        ], {
          fade: 1000,
          duration: 3000
      });
  });
  </script>  
    
    <!-- super simple slider http://supersimpleslider.com/ -->
    <script>
  jQuery(function($) {
  $('.slider').sss();
  });
  </script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44046318-1', 'code4sa.org');
      ga('send', 'pageview');

    </script>

    </body>
</html>
<!--
Photo credits:
khatalitsha township, by Jason and Molly Kehrer
(http://www.flickr.com/photos/kehrers/)

Women's Queue for HIV Testing in Kenya, by Georgina Goodwin for Vestergaard Frandsen.
(http://www.flickr.com/photos/vestergaardfrandsen/)

Parliament Building, Cape Town, by Robert Cutts
(http://www.flickr.com/photos/21678559@N06/3007618963)
-->

