---
layout: default
---
<h2>{{ page.title }}</h2>

<!--Project Section-->
<section id="blog">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 project-images">
                <!--Portfolio Images - Set Images to 930px by 590px -->
                <img src="{{ page.project_image }}" alt="{{ page.project_name }}">
            </div>
        </div>
        <div class="row-fluid project-text">
            <div class="offset3 span6">
                {{ content }}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12 back-to-work">
                <a href="{{ site.url }}/blog.html" class="back-to-work"><i class="icon-double-angle-left"></i> Back to posts</a>
            </div>
        </div>
    </div>
</section>
