---
layout: page
---

<div class="container">
  <div class="slab-white">
    <h4><a href="/blog.html">← all blog posts</a></h4>

    <article class="blog-post" data-title="{{ page.title }}">
      <header>
        <h1>{{ page.title }}</h1>

        <aside class="author-details hidden-xs hidden-sm">
          {% for author in site.data.authors %}
            {% if page.author == author.name %}
              <p><img class="img-response img-circle" src="/img/team_{{ author.name|split:" "|first|downcase }}.jpg"></p>
              <h5>{{ author.name }}</h5>
              <h5><a href="https://twitter.com/{{ author.twitter }}">{{ author.twitter }}</a></h5>
            {% endif %}
          {% endfor %}
        </aside>

        <h3>by {{ page.author }}</h2>
        <h3>{{ page.date|date: "%-d %B %Y" }}</h2>

        {% include social-buttons.html tweet=page.title %}
      </header>

      <section>
        <div class="post-content">
          {{ content }}
        </div>
      </section>

      <hr>

      <footer class="comments">
        {% include disqus.html %}
      </footer>
    </article>
  </div>
</div>
